<div class="page-container">
  <div class="table-top-btns">
    <div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="status.isopen" ng-if="$ctrl.filters.length">
      <button id="single-button" type="button" class="button button_blue button_light" uib-dropdown-toggle ng-disabled="disabled">
        Filters
      </button>
      <ul class="dropdown-menu filter-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="filter in $ctrl.filters">
          <label for="{{filter.field}}">
            <input type="checkbox" id="{{filter.field}}" class="checkbox"
              ng-checked="$ctrl.search.filters.indexOf(filter.field) !== -1"
              ng-click="$ctrl.toggleFilter(filter.field)"
            >
            <span ng-bind="::filter.title"></span>
          </label>
        </li>
      </ul>
    </div>
    <button ng-show="::$ctrl.buttons.buttonAdd" class="button button_orange button_light button_add" ng-click="$ctrl.onNew()">Add new</button>
  </div>
  <div class="search-filters">
    <form class="simple-form">
      <div class="form-group flex inline-label" ng-repeat="filter in $ctrl.search.filters">
        <label for="state"><span ng-bind="$ctrl.fields[filter]"></span>:</label>
        <div>
          <input type="text" ng-model="$ctrl.search.queries[filter]">
        </div>
        <span class="search-filters__remove" ng-click="$ctrl.clearFilter(filter)">X</span>
      </div>
    </form>
  </div>
</div>
<div class="page-container sorting-table-wrap">
  <div class="scroll-container">
    <div class="table-block">
      <form class="form-inline" ng-show="isCollapsed">
        <div>
          <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </form>
      <table class="table table-hover table-condensed table-bordered table-striped "
        template-pagination="common/components/table/pager.html"
        ng-table-dynamic="$ctrl.tableParams with $ctrl.cols"
      >
        <tr ng-repeat="row in $data">
          <td ng-repeat="col in $columns">
          <p ng-if="col.field !== 'email'">
            <span class="col-link" ng-click="$ctrl.onEditClicked(row)" ng-if="col.field === $ctrl.editLink">{{row[col.field]}}</span>
            <span ng-hide="col.field === $ctrl.editLink">{{row[col.field]}}</span>
          </p>
            <span class="col-email" ng-if="col.field === 'email'">
              <a href="mailto:{{row[col.field]}}">{{row[col.field]}}</a>
            </span>
            <ul class="change-row" ng-show="$last">
              <li>
                <button ng-show="$last" ng-if="$ctrl.buttons.buttonActionEdit" ng-click="$ctrl.onEditClicked(row)" class="edit-row">edit</button>
              </li>
              <li>
                <button ng-show="$last" ng-if="$ctrl.buttons.buttonActionDelete" ng-click="$ctrl.onDeleteClicked(row)" class="remove-row">delete</button>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
