.page-title
  width: 100%
  font-size: 3em
  text-transform: uppercase
  color: $page-title
  font-weight: 500
  padding-top: 30px
  padding-left: 10px
  padding-bottom: 30px

.page-head
  display: flex
  height: 80px
  flex-direction: row
  border-bottom: 2px solid $main-header-bg
  justify-content: flex-end
  padding: 0 15px
  span
    margin: 12px 0
    display: inline-block
    width: 47px
    height: 45px
    background-repeat: no-repeat
    background-size: cover
    margin-right: 5px
    margin-top: 15px
    &.common
      background-image: url("images/menu-icons/speed-icon.svg")
    &.errors
      background-image: url("images/menu-icons/error-icon.svg")
    &.pages
      background-image: url("images/menu-icons/pages-icon.svg")
    &.browsers
      background-image: url("images/menu-icons/browser-icon.svg")


  &>div.stat-item
    display: flex
    flex-direction: column
    text-align: center
    padding: 20px
    &>.title
      font-size: 1em
      text-transform: uppercase
    &>.value
      font-size: 1.5em


.white-bg-container
  max-width: 1164px
  min-height: 70vh
  padding: 70px 0 25px
  margin: 130px auto
  background-color: #fff

.blue-title
  font-weight: 700
  text-transform: uppercase
  color: $blue-color

.content-wrap
  font-weight: 300
  p
    margin-bottom: 18px
.row
  padding: 15px
  display: flex
  flex-direction: row
  .col-block
    .col-block_head
      padding: 20px 0
      text-align: center
      font-size: 2em
      text-transform: uppercase
      border-bottom: 2px solid $main-header-bg
.col
  padding-right: 15px

  & + .col
    padding-right: 0
    padding-left: 15px

.col20
  flex: 3 0 20%
  max-width: 20%

.col30
  flex: 4 0 30%
  max-width: 30%

.col40
  flex: 4 0 40%
  max-width: 40%

.col50
  width: 50%

.col60
  flex: 6 0 60%
  max-width: 60%

.col70
  flex: 8 0 70%
  max-width: 70%

.col80
  flex: 9 0 80%
  max-width: 80%

.error
  color: $error
  font-weight: 400
  font-style: italic
  a
    color: $error_a
    &.link
      text-decoration: underline

.main-content
  padding-left: 180px
  position: relative
  min-height: 100vh
  overflow-x: hidden
  background: #fff
  .main-block
    padding: 15px

  .header-page-container,
  .page-container

    padding: 60px 0 50px
    margin: auto
    .page-container
      padding: 0
  .scroll-container
    overflow-x: auto
  .header-page-container
    padding: 130px 15px 0

.ng-isolate-scope
  .page-container
    padding: 0 15px

.full-w-block
  min-width: $min-page-width

